<navbar></navbar>

<div class="container">
  <div class="row ">
    <div class="user-title">Welcome {{user.me.name}}</div>
  </div>
  <div class="row">
    <div id='userLocationDisclaimer' class="user-title">Here are your available hosts for this weekend!</div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div ng-if="!noLocationAvailable">Your location <br> lattitude: {{}} <br> longitude: {{}}</div>
      <div ng-if="noLocationAvailable">Geolocation is not supported by this browser.</div>
    </div>
    <div class="col-lg-4">
      <ui-gmap-google-map center="user.map.center" zoom="user.map.zoom">
        <ui-gmap-marker coords="user.myMarker.coords" idKey="user.myMarker.idKey"></ui-gmap-marker>
        <ui-gmap-markers models="user.availableHostMarkers" coords="'self'" idkey="'id'">
          <ui-gmap-windows isIconVisibleOnClick="true">
            <div ng-non-bindable>
              <div>{{name}}</div>
              <div>{{address.street}}</div>
              <div>{{address.city}}, {{address.state}}</div>
              <div><b>{{distance}} mi</b></div>
            </div>
          </ui-gmap-windows>
        </ui-gmap-markers>
      </ui-gmap-google-map>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>




